<link href="~/Lib/Css/Home.css" rel="stylesheet" type="text/css">

@Html.Partial("../Produto/FormularioCadastro")

<!--grid-->
<div class="container">
    <div class="row ajuste">
        <div class="col s12 coluna">
            <div class="center">
                <h1 class="bold">Produtos</h1>
            </div>
            <div id="tableProdutos">

            </div>
        </div>
    </div>
    <div class="row ajuste">
        <div class="col s8 coluna">
            <div class="center">
                <h1 class="bold">Clientes</h1>
            </div>
        </div>
        <div class="col s5 coluna">
            <div class="center">
                <h1 class="bold">Vendas</h1>
            </div>
        </div>
    </div>
</div>

<script>
    
    //Trazendo a lista de produtos
    $.get('@Url.Action("ListarProdutos", "Produto")')
        .done(function (data) {
            $("#tableProdutos").html(data)
        }).
        fail(function (xhr) {
            Materialize.toast(xhr.responseText, 5000);
        });

    function FocaInputs(inputs) {
        $(inputs).focus();
    }

    function Error(xhr) {
        Materialize.toast(xhr.responseText, 5000);
    }
</script>
